@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face { /*buscando fontes baixadas*/
    font-family: 'Android';
    src: url(Desafio10/Documents/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root{ /*tudo que é variável começa com --*/
    --cor0:#4DB84D;
    --cor1:#4AAF4A;
    --cor2:#3B8D3B;
    --cor3:#2D6B2D;
    --cor4:#1F491F;

    --fonte-padrao:Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android:'Android',cursive;


}

*{
    margin: 0;
    padding: 0;
}



body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}
a.externo::after{
    content: '\1F517';
}

header{
    
    font-family: var(--fonte-destaque);
    padding: 20px ;
    background-image:linear-gradient(to bottom, var(--cor0), var(--cor4));
    min-height:150px;
}

header>h1{
    color: white;
    text-align: center;
    margin-bottom:20px;
    font-family: var(--fonte-destaque); 
    font-size: 3em;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.527);
}
header>p{
    color: white;
    font-family: var(--fonte-padrao);
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    max-width: 600px;
    margin-bottom:40px;

}
nav{
   
    background-color: var(--cor4);
    padding: 15px;

    
}
nav>a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 5px;
    font-weight: bold;
    padding: 15px 4px;
    border-radius: 10px;
    transition: 0.5s;

    display: block;
    display: inline-grid;;

}
nav>a:hover{
    text-decoration: underline;
    background-color: var(--cor3);
}




main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(234, 232, 232);
    padding: 20px;
    box-shadow: 0px 5px  10px rgba(0, 0, 0, 0.644);
    margin-bottom: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:10px ;
}
main img{
    width: 100%;
}
main img.pequena {
    display: block; /*por padrao e inline entao devemos colocar block*/
    max-width: 350px;
    margin: auto;

}

main h1{
    font-family: var(--fonte-android);
    color: var(--cor4);
 }

main p{
    margin :15px 0px;
    text-align: justify;
    line-height: 2em;
    text-indent: 20px;

}
main strong{
    color: var(--cor3);
    font-weight: bolder;
   
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
    background-color: var(--cor0);
    padding: 5px;
}
main a:hover{
    text-decoration: underline;
    background-color: #4db84d83;
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
}
div.video{
    background-color: var(--cor4);
    margin: 0px -20px 4em ;
    text-align: center;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top:5%;
    left:5%;
    width: 90%;
    height: 90%;
}


aside{
    background-color: var(--cor0);
    padding: 20px;
    border-radius: 20px;
}
aside ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
aside h3{
    background-color: var(--cor3);
    color: white;
    padding: 10px;
    margin: -20px -20px 0px -20px;
    border-radius: 10px 10px 0px 0px;
}
footer{
    color: white;
    background-color: var(--cor4);
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
}
footer a{
    color: white;
    
    text-decoration: none;
    
}

footer a:hover{
    text-decoration: underline;
    font-weight: bolder;
}
